body{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(to right, #fff200, #000000);
}

/* CSS HEADER Y PAGINA PRINCILPA*/
.txt-nav{
    text-decoration: none;
    color: black;
    margin: auto;   
}
.txt-nav:hover{
    color:#018E97
}