<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Ferremas</title>
    <!-- CSS -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">   
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Font Awesome (Icons) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        body {
            background-image: url("{% static 'assets/img/logoferremas.svg' %}");
        }
        .container {
            display: flex;
        }
        .sidebar {
            padding: 1rem;
            background-color: black;    
        }
        .sidebar-item {
            padding: 0.5rem 1rem;
            color: #fff;
        }
        .sidebar-item:hover,
        .nav-link.active {
            background: #495357;
        }
        .sidebar-item:hover {
            text-decoration: underline;
        }
        .content {
            flex-grow: 1;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-3 col-lg-2 d-md-block sidebar">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active sidebar-item" href="{% url 'bodegueroprod_list' %}">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sidebar-item" href="{% url 'order_list' %}">Gestionar Despacho</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link sidebar-item" href="{% url 'logout' %}">Salir</a>
                    </li>
                </ul>
            </nav>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style>
                <div class="content">
                    <h1 class="text-center fw-bolder bg-black text-warning">Agregar Productos</h1>
                    <form method="POST" enctype="multipart/form-data" class="bg-black p-5 text-warning fw-bold">
                        {% csrf_token %}
                    
                        <div class="mb-3">
                            <label for="id_codigoProducto" class="form-label">Código del Producto:</label>
                            <input type="text" name="codigoProducto" id="id_codigoProducto" class="form-control" required>
                        </div>
                    
                        <div class="mb-3">
                            <label for="id_nombreProducto" class="form-label">Nombre del Producto:</label>
                            <input type="text" name="nombreProducto" id="id_nombreProducto" class="form-control" required>
                        </div>
                    
                        <div class="mb-3">
                            <label for="id_marcaProducto" class="form-label">Marca:</label>
                            <input type="text" name="marcaProducto" id="id_marcaProducto" class="form-control" required>
                        </div>
                    
                        <div class="mb-3">
                            <label for="id_descripcionProducto" class="form-label">Descripción:</label>
                            <textarea name="descripcionProducto" id="id_descripcionProducto" class="form-control" rows="4" required></textarea>
                        </div>
                    
                        <div class="mb-3">
                            <label for="id_precioProducto" class="form-label">Precio:</label>
                            <input type="number" step="0.01" name="precioProducto" id="id_precioProducto" class="form-control" required>
                        </div>
                    
                        <div class="mb-3">
                            <label for="id_stockProducto" class="form-label">Stock:</label>
                            <input type="number" name="stockProducto" id="id_stockProducto" class="form-control" required>
                        </div>
                    
                        <div class="mb-3">
                            <label for="id_categoriaProducto" class="form-label">Categoría:</label>
                            <input type="text" name="categoriaProducto" id="id_categoriaProducto" class="form-control" required>
                        </div>
                    
                        <div class="mb-3">
                            <label for="id_portadaProducto" class="form-label">Portada del Producto:</label>
                            <input type="file" name="portadaProducto" id="id_portadaProducto" class="form-control" accept="image/*">
                        </div>
                    
                        <button type="submit" class="btn btn-warning text-black fw-bold">GUARDAR PRODUCTO</button>
                    </form>
                </div>
            </main>
        </div>
    </div>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- JavaScript -->
    <script src=""></script>
</body>
</html>