<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Ferremas</title>
    <!-- CSS -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">   
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Font Awesome (Icons) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
    
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand d-lg-none" href="{% url 'home_page' %}">
            <img src="../static/assets/img/logoferremas.svg" alt="Logo" style="width: 100px;">
        </a>
        {% if user.is_authenticated %}
            <a class="nav-link d-lg-none me-3" href="#"><i class="bi bi-cart4 fs-3"></i></a>
        {% endif %}
    
        <div class="collapse navbar-collapse" id="navbarMain">
            <div class="row w-100">
            
            <div class="col-12 col-lg-4 d-flex flex-column flex-lg-row justify-content-center justify-content-lg-start align-items-center gap-2 mb-3 mb-lg-0">
                <a class="navbar-brand d-none d-lg-inline " href="{% url 'home_page' %}">
                    <img src="../static/assets/img/logoferremas.svg" alt="Logo" style="width: 100px;">
                </a>      
            </div>
    
            <div class="col-12 col-lg-4 d-flex flex-column flex-lg-row justify-content-center align-items-center mb-3 mb-lg-0 gap-3">
                <a class="nav-link text-black fw-bold" href="#">INICIO</a>
                <a class="nav-link text-black fw-bold" href="#">QUIENES SOMOS</a>
                <a class="nav-link text-black fw-bold" href="#">CONTACTO</a>
            </div>
    
            <div class="col-12 col-lg-4 d-flex flex-column flex-lg-row justify-content-center justify-content-lg-end align-items-center gap-lg-4 gap-3">
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                        <a class="nav-link text-black" href="{% url 'administracion' %}">ADMIN PANEL</a>
                    {% else %}
                    <span class="nav-link text-black">{{ user.username }}</span>
                {% endif %}
                    <a class="nav-link text-black" href="{% url 'logout' %}">CERRAR SESIÓN</a>
                    <a class="nav-link fw-bold fs-4 position-relative" href="{% url 'cart' %}">
                    <p id="cart-total" class="position-absolute top-2 start-1 translate-middle badge rounded-pill bg-danger">{{cartItems}}</p>
                    <i class="fas fa-shopping-cart cart-icon"></i>
                </a>
                {% else %}
                    <a class="nav-link text-black fw-bold" href="{% url 'signin' %}">INICIAR SESIÓN</a>
                {% endif %}
            </div>
            </div>
        </div>
        </div>
    </nav>
    
    <div class="container-fluid bg-warning py-3 mb-3">
        <h4 class="fw-bold text-center">CATEGORÍAS</h4>
        <ul class="list-unstyled d-flex flex-column flex-md-row justify-content-center gap-4 text-center">
            <li><a href="{% url 'catalogue' %}" class="text-decoration-none text-black fw-bold {% if not categoria_seleccionada %}text-decoration-underline{% endif %}">Todos</a></li>
            <li><a href="{% url 'catalogue' %}?categoria=Herramientas" class="text-decoration-none text-black fw-bold {% if categoria_seleccionada == 'Herramientas' %}text-decoration-underline{% endif %}">Herramientas</a></li>
            <li><a href="{% url 'catalogue' %}?categoria=Materiales de Construcción" class="text-decoration-none text-black fw-bold {% if categoria_seleccionada == 'Materiales de Construcción' %}text-decoration-underline{% endif %}">Materiales de Construcción</a></li>
            <li><a href="{% url 'catalogue' %}?categoria=Pinturas y Adhesivos" class="text-decoration-none text-black fw-bold {% if categoria_seleccionada == 'Pinturas y Adhesivos' %}text-decoration-underline{% endif %}">Pinturas y Adhesivos</a></li>
            <li><a href="{% url 'catalogue' %}?categoria=Tornillería" class="text-decoration-none text-black fw-bold {% if categoria_seleccionada == 'Tornillería' %}text-decoration-underline{% endif %}">Tornillería</a></li>
            <li><a href="{% url 'catalogue' %}?categoria=Seguridad y Protección" class="text-decoration-none text-black fw-bold {% if categoria_seleccionada == 'Seguridad y Protección' %}text-decoration-underline{% endif %}">Seguridad y Protección</a></li>
        </ul>
    </div>

    <div class="container-fluid">
        <h2 class="text-center my-4">
            {% if categoria_seleccionada %}
                {{ categoria_seleccionada }}
            {% else %}
                Todos los productos
            {% endif %}
        </h2>

        <div class="row">
            {% for producto in productos %}
            <div class="col-md-4 mb-4">
                <div class="card h-100 w-50">
                    {% if producto.portadaProducto %}
                    <div class="text-center">
                        <img src="{{ producto.portadaProducto.url }}" class="card-img-top w-50" alt="{{ producto.nombreProducto }}">
                    </div>
                        
                    {% else %}
                    <div class="text-center">
                        <img src="{% static 'assets/img/default-product.png' %}" class="card-img-top" alt="Producto sin imagen">
                    </div>
                        
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombreProducto }}</h5>
                        <p class="card-text">PRECIO: ${{ producto.precioProducto }}</p>
                        <p class="card-text text-muted">MARCA: {{ producto.marcaProducto }}</p>

                        <a href="{% url 'producto_detail' producto.id %}" class="btn btn-primary mt-2">Ver detalles</a>
                        <button data-producto="{{ producto.id }}" data-action="add" class="btn btn-success add-btn update-cart">Añadir al carrito</button>
                    </div>
                </div>
            </div>
            {% empty %}
            <p class="text-center">No hay productos en esta categoría.</p>
            {% endfor %}
        </div>
    </div>

    <footer class="bg-dark text-white text-center py-3 mt-5">
        <div>&copy; Ferremas 2024</div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        var user = "{{ request.user|default:'AnonymousUser' }}";
        var csrftoken = '{{ csrf_token }}';
    </script>
    <script src="{% static 'javascript/cart.js' %}"></script>
</body>
</html>
