<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>BiblioWeb</title>
    <!-- CSS -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">   
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Font Awesome (Icons) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body style="background-color: black;">
    
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                {% if user.is_superuser %}
                <ul style="margin-right: -250px; margin-left: 50px;" class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link fw-bold fs-4" href="{% url 'administracion' %}">Administración</a>
                    </li>
                </ul>
                {% elif user.is_authenticated %}
                <ul style="margin-right: -250px; margin-left: 50px;" class="navbar-nav">
                    <li class="nav-item">
                        <span class="navbar-text fw-bold fs-4"><i class="fas fa-user user-icon"></i> {{ user.username }}</span>
                    </li>
                </ul>
                {% endif %}
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active fw-bold fs-4" aria-current="page" href="{% url 'home_page' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold fs-4" href="{% url 'catalogue' %}">Catálogo</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li style="margin-left: 10px;" class="nav-item position-relative">
                        <a class="nav-link fw-bold fs-4 position-relative" href="{% url 'cart' %}">
                            <p id="cart-total" class="position-absolute top-2 start-1 translate-middle badge rounded-pill bg-danger">{{cartItems}}</p>
                            <i class="fas fa-shopping-cart cart-icon"></i> Carrito de Compra
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold fs-4" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link fw-bold fs-4" href="{% url 'contact' %}">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-bold fs-4" href="{% url 'signin' %}">Iniciar Sesión</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Content -->
    <div class="container-md" style="padding-top:10vh;">
        <div class="row">
            <div class="col-lg-6 col-12">
                <img src="{% static 'assets/img/logo2.png' %}" id="logo-fluid" alt="" style="max-width: 70vh;">
            </div>  
            <div class="col-lg-6 col-12 text-center">
                <h1 style="color: white; text-align: center;">La lectura es la llave que abre las puertas al conocimiento, la
                    imaginación y el entendimiento, permitiéndonos explorar mundos
                    infinitos sin movernos del sitio.</h1>
                <div class="button-container">
                    <a href="{% url 'catalogue' %}"><button>Empieza a leer</button></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <form id="search-form">
                    <input type="text" name="barra-busqueda" id="barra-busqueda" placeholder="Escribe el título o autor del libro">
                    <button type="submit">Buscar</button>
                  </form>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div>
            <div>
                <div>Copyright &copy; BiblioWeb 2024</div>
            </div>
        </div>
    </footer>   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
